<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary custom_color mb-4">
        <div class="container-fluid">
          <a class="navbar-brand text-white text-decoration-none"
            href="{{ url_for('get_all_book', type='User') }}">BOOKY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav" id = "nav-user">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page"
                  href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page"
                  href="{{ url_for('get_all_book', type='User') }}">Show All Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{{ url_for('favourites') }}">Favourites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" id = "btn" href="{{ url_for('logout') }}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          {% for book in favourites %}
          <div class="col-md-2 mb-4">
            <div class="card shadow">
              <div class="d-flex justify-content-center align-items-center">
                <img src="{{ book.thumbnailUrl }}" alt="" class="card-img-top img-fluid rounded-top">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">
                  <strong>Authors:</strong> {{ ', '.join(book.authors) }}
                </p>
                <p class="card-text">
                  <strong>Published Date:</strong> {{ book.published_date.strftime('%Y-%m-%d') if book.published_date else 'N/A' }}
                </p>
                <p class="card-text">
                  <strong>Short Description:</strong> {{ book.shortDescription[:100]+"..." }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <script src="../static/js/navBar.js"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
