<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Booky</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="container">
        <div class="register-body d-flex flex-md-row flex-sm-column justify-content-center align-items-center overflow-hidden">
            <div class="image d-none d-md-block">
                <img class="w-100" src="../static/images/9439fe55a71f703263f68590ed6d33fe.jpg" alt="Image" class="logo">
            </div>    
            <div>
                <form id="registration-form" action="/register" method="post">
                    <h3 class = "coloreful">Welcome to Booky</h3>
                    <h3>Sign up</h3>
                    <br>
                    <input type="text" name="username" placeholder="Username" id="username" required>
                    <br>
                    <input type="email" name="email" placeholder="Email" id="email" required>
                    <br>
                    <input type="password" name="password" placeholder="Password" required>
                    {% if validation %}
                    <p class = "p">{{ validation }}</p>
                    {% endif %}
                    <input type="submit" value="Register" id="register">
                    <br>
                    <div>
                        Already have an account? <a href="/">Login</a>
                    </div>
                </form>    
            </div>
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>
